.wrapper-drink {
  margin-top: 40px;
  background-color: #ffffff;
  .title {
    font-size: 1.2rem;
    color: #221e1e;
    font-family: 'PopinsBold';
    margin: 0 0 0 10px;
  }
  .wrapper-drinks {
    border-radius: 0 40px 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;

    .drink {
      display: flex;
      justify-content: space-between;
      color: #1f1c1c;
      font-size: 1.1rem;
      font-family: 'PopinsMedium';
    }
  }
}
